<div class="bg-white rounded-lg border border-gray-300 p-2">
<span class="badge text-xl flex justify-center items-center">Personal Information</span>
  <div class="p-2 space-y-4 flex">
    <!-- Image Upload Section -->
    <div *ngIf="isPhotoChange" class="space-y-2 mb-5">
      <label class="text-sm font-medium text-gray-700">Profile Picture</label>
      <div class="flex items-start space-x-4 mt-3">
        <!-- Image Preview -->
        <div class="flex-shrink-0">
          <div *ngIf="imagePreview; else noImage" class="relative">
            <img
              [src]="imagePreview"
              alt="Category preview"
              class="w-20 h-20 object-cover rounded-lg border border-gray-200-2"
            />
            <button
              type="button"
              (click)="cancelUpload()"
              class="absolute -top-2 -right-2 h-6 w-6 p-0 rounded-full bg-red-500 text-white hover:bg-red-600 border border-gray-200-red-500"
            >
              <span class="material-icons">clear</span>
            </button>
          </div>
          <ng-template #noImage>
            <div
              class="w-20 h-20 border border-gray-200-gray-300 rounded-lg flex items-center justify-center bg-gray-50"
            >
              <div class="text-center">
                <span
                  class="material-icons"
                  style="color: #525151; font-size: 50px"
                  >art_track</span
                >
              </div>
            </div>
          </ng-template>
        </div>

        <!-- Upload Controls -->
        <div class="flex-1 space-y-2 w-100">
          <div class="flex items-center space-x-2">
            <input
              type="file"
              #fileInput
              accept="image/jpeg, image/png"
              (change)="onImageUpload($event)"
              class="hidden"
            />
            <button
              type="button"
              (click)="fileInput.click()"
              class="text-sm h-7 px-1 py-1 border border-gray-200 rounded hover:bg-gray-50"
            >
              Choose Image
            </button>
            <button
              [disabled]="isUploading"
              *ngIf="imagePreview"
              type="button"
              (click)="saveImage()"
              class="text-sm h-7 px-1 py-1 text-red-800 border border-gray-200 rounded hover:bg-red-50"
            >

                Save

            </button>
          </div>
          <p class="text-xs text-gray-500">
            Recommended: 540x540px.<br />Supports JPG, PNG.
          </p>
        </div>
      </div>
    </div>
    <div class="w-4/5">
      <div *ngIf="!isPhotoChange" class="flex items-center space-x-4">
        <div
          class="w-16 h-16 rounded-full bg-gray-200 flex items-center justify-center overflow-hidden"
        >
          <img
            [src]="user.avatar_url  || 'images/user.png'"
            alt="userProfile.name"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="flex-1">
          <h3 class="text-base font-semibold text-gray-900">{{ user.name }}</h3>
          <p class="text-sm text-gray-600">
            Member since {{ user.created_at | date }}
          </p>

          <button
            (click)="togglePhotoPreview()"
            class="mt-1 px-2 py-1 text-sm border border-gray-200 rounded-md hover:bg-gray-100"
          >
            <span>{{ isPhotoChange ? 'Save Photo' : 'Change Photo' }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="w-1/5">
      <div class="flex justify-end">
        <button
          (click)="toggleEdit()"
          [class]="'flex space-x-1 px-3 py-1.5 text-sm rounded-md border border-gray-200 transition-colors ' + 
                         (isEditing ? 'border border-gray-200-gray-300 bg-white hover:bg-gray-50' : 'bg-[#6051dc]  text-white hover:bg-[#6031dc] border border-gray-200-blue-600')"
        >
          <span *ngIf="isEditing" class="material-icons">check</span>
          <span *ngIf="!isEditing" class="material-icons">mode_edit</span>
          <span>{{ isEditing ? 'Save' : 'Edit' }}</span>
        </button>
      </div>
    </div>
  </div>

  <div class="p-4 space-y-4">
    <div *ngIf="isUploading" class="absolute inset-0 bg-white/70 z-20 flex items-center justify-center">
      <div class="w-6 h-6 border-2 border-indigo-600 border-t-transparent rounded-full animate-spin"></div>
    </div>
    <form [formGroup]="profileForm">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="space-y-1">
          <label class="text-sm font-medium text-gray-700">Full Name</label>
          <div class="flex items-center space-x-2">
            <span class="material-icons custom-icon">person</span>
            <input
              formControlName="name"
              class="flex-1 h-8 text-sm border border-gray-200 rounded px-2 disabled:bg-gray-50"
            />
          </div>
        </div>

        <div class="space-y-1">
          <label class="text-sm font-medium text-gray-700">Email Address</label>
          <div class="flex items-center space-x-2">
            <span class="material-icons custom-icon">mail</span>
            <input
              formControlName="email"
              type="email"
              class="flex-1 h-8 text-sm border border-gray-200 rounded px-2 disabled:bg-gray-50"
            />
          </div>
        </div>

        <div class="space-y-1">
          <label class="text-sm font-medium text-gray-700"
            >Contact Number</label
          >
          <div class="flex items-center space-x-2">
            <span class="material-icons custom-icon">phone</span>
            <input
              formControlName="mobile"
              class="flex-1 h-8 text-sm border border-gray-200 rounded px-2 disabled:bg-gray-50"
            />
          </div>
        </div>

        <div class="space-y-1">
          <label class="text-sm font-medium text-gray-700">Address</label>
          <div class="flex items-center space-x-2">
            <span class="material-icons custom-icon">home</span>
            <input
              formControlName="address"
              class="flex-1 h-8 text-sm border border-gray-200 rounded px-2 disabled:bg-gray-50"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="bg-white rounded-lg border border-gray-300 p-4 my-4">
  <h2 class="text-xl font-semibold text-center mb-4">Subscription Plan</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    
    <!-- Show Buy Plan if no subscription -->
    <div *ngIf="!user.current_subscription" class="flex items-center justify-end">
      <button
        type="button"
        class="px-5 py-2 text-sm bg-[#6051dc] text-white rounded hover:bg-[#6031dc] transition duration-150"
      >
        Buy Plan
      </button>
    </div>

    <!-- Current Plan -->
    <div class="flex items-center space-x-2">
      <label class="text-sm font-medium text-gray-700">Current Plan:</label>
      <span class="badge text-[#6051dc] px-2">
        {{ user.current_subscription?.plan_details?.title || "Free" }}
      </span>
    </div>
    <div class="flex items-center space-x-2">
      <label class="text-sm font-medium text-gray-700">Price:</label>
      <span class="badge text-[#6051dc] px-2">
       {{ user.current_subscription?.plan_details?.price | currency:'USD':'symbol':'1.2-2' }}

      </span>
    </div>
    <!-- Example: Start Date -->
    <div class="flex items-center space-x-2">
      <label class="text-sm font-medium text-gray-700">Start Date:</label>
      <span class="text-sm text-gray-800">
        {{ user.current_subscription?.payment_time| date }}
      </span>
    </div>

    <!-- Example: Expiry Date -->
    <div class="flex items-center space-x-2">
      <label class="text-sm font-medium text-gray-700">Expires On:</label>
      <span class="text-sm text-gray-800">
        {{ getExpiryDate(user.current_subscription?.payment_time, user.current_subscription?.plan_details?.expires_at) | date }}
      </span>
    </div>

    <!-- Example: Status -->
    <div class="flex items-center space-x-2">
      <label class="text-sm font-medium text-gray-700">Status:</label>
      <span [ngClass]="user.current_subscription ? 'text-green-600' : 'text-gray-500'">
        {{ user.current_subscription ? 'Active' : 'Inactive' }}
      </span>
    </div>
    <!-- Example: Remaining Downloads -->
    <div class="flex items-center space-x-2">
      <label class="text-sm font-medium text-gray-700">Remaining Download:</label>
      <span class="text-sm text-gray-800">
        {{ user.current_subscription?.total_downloads || 0 }}
      </span>
    </div>
  </div>
</div>

