<div class="bg-white rounded-lg border border-gray-200">
  <div class="p-4">
    <div class="flex items-center justify-between">
      <div>
        <h3 class="text-lg font-semibold">Personal Information</h3>
        <p class="text-sm text-gray-600">
          Update your personal details
        </p>
      </div>
      <button (click)="toggleEdit()"
        [class]="'flex items-center space-x-1 px-3 py-1.5 text-sm rounded-md border border-gray-400 transition-colors ' + 
                         (isEditing ? 'border border-gray-400-gray-300 bg-white hover:bg-gray-50' : 'bg-[#6051dc]  text-white hover:bg-[#6031dc] border border-gray-400-blue-600')">
        <span *ngIf="isEditing" class="material-icons">check</span>
        <span *ngIf="!isEditing" class="material-icons">mode_edit</span>
        <span>{{ isEditing ? 'Save' : 'Edit' }}</span>
      </button>
    </div>
  </div>

  <div class="p-4 space-y-4">
    <!-- Image Upload Section -->
    <div *ngIf="isPhotoChange" class="space-y-2 mb-5">
      <label class="text-sm font-medium text-gray-700">Profile Picture</label>
      <div class="flex items-start space-x-4 mt-3">
        <!-- Image Preview -->
        <div class="flex-shrink-0">
          <div *ngIf="imagePreview; else noImage" class="relative">
            <img [src]="imagePreview" alt="Category preview"
              class="w-20 h-20 object-cover rounded-lg border border-gray-400-2" />
            <button type="button" (click)="cancelUpload()"
              class="absolute -top-2 -right-2 h-6 w-6 p-0 rounded-full bg-red-500 text-white hover:bg-red-600 border border-gray-400-red-500">
              <span class="material-icons">clear</span>
            </button>
          </div>
          <ng-template #noImage>
            <div
              class="w-20 h-20 border border-gray-400-gray-300 rounded-lg flex items-center justify-center bg-gray-50">
              <div class="text-center">
                <span class="material-icons" style="color: #525151; font-size: 50px">art_track</span>
              </div>
            </div>
          </ng-template>
        </div>

        <!-- Upload Controls -->
        <div class="flex-1 space-y-2">
          <div class="flex items-center space-x-2">
            <input type="file" #fileInput accept="image/jpeg, image/png" (change)="onImageUpload($event)"
              class="hidden" />
            <button type="button" (click)="fileInput.click()"
              class="text-sm h-7 px-3 py-1 border border-gray-400 rounded hover:bg-gray-50">
              Choose Image
            </button>
            <button  [disabled]="isSaving" *ngIf="imagePreview" type="button" (click)="saveImage()"
              class="text-sm h-7 px-3 py-1 text-red-800 border border-gray-400 rounded hover:bg-red-50">

              <ng-container *ngIf="!isSaving; else loading">
                Save
              </ng-container>

              <ng-template #loading>
                <div class="w-4 h-4 border-2 border-[#6051DC] border-t-transparent rounded-full animate-spin"></div>
              </ng-template>
            </button>
          </div>
          <p class="text-xs text-gray-500">
            Recommended: 540x540px.<br>Supports JPG, PNG.
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="!isPhotoChange" class="flex items-center space-x-4 mb-4">
      <div class="w-16 h-16 rounded-full bg-gray-200 flex items-center justify-center overflow-hidden">
        <img [src]="user.avatar_url  || 'images/user.png'" alt="userProfile.name" class="w-full h-full object-cover" />
      </div>
      <div class="flex-1">
        <h3 class="text-base font-semibold text-gray-900">
          {{ user.name }}
        </h3>
        <p class="text-sm text-gray-600">
          Member since {{ user.created_at | date }}
        </p>

        <button (click)="togglePhotoPreview()"
          class="mt-1 px-2 py-1 text-sm border border-gray-400 rounded-md hover:bg-gray-100">
          <span>{{ isPhotoChange ? 'Save Photo' : 'Change Photo' }}</span>
        </button>
      </div>
    </div>
  </div>


  <div class="p-4 space-y-4">
    <form [formGroup]="profileForm">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="space-y-1">
          <label class="text-sm font-medium text-gray-700">Full Name</label>
          <div class="flex items-center space-x-2">
            <span class="material-icons custom-icon">person</span>
            <input formControlName="name"
              class="flex-1 h-8 text-sm border border-gray-200 rounded px-2 disabled:bg-gray-50" />
          </div>
        </div>

        <div class="space-y-1">
          <label class="text-sm font-medium text-gray-700">Email Address</label>
          <div class="flex items-center space-x-2">
            <span class="material-icons custom-icon">mail</span>
            <input formControlName="email" type="email"
              class="flex-1 h-8 text-sm border border-gray-200 rounded px-2 disabled:bg-gray-50" />
          </div>
        </div>

        <div class="space-y-1">
          <label class="text-sm font-medium text-gray-700">Contact Number</label>
          <div class="flex items-center space-x-2">
            <span class="material-icons custom-icon">phone</span>
            <input formControlName="mobile"
              class="flex-1 h-8 text-sm border border-gray-200 rounded px-2 disabled:bg-gray-50" />
          </div>
        </div>

        <div class="space-y-1">
          <label class="text-sm font-medium text-gray-700">Address</label>
          <div class="flex items-center space-x-2">
            <span class="material-icons custom-icon">home</span>
            <input formControlName="address"
              class="flex-1 h-8 text-sm border border-gray-200 rounded px-2 disabled:bg-gray-50" />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>