<div class="min-h-screen">
  <div class="container mx-auto px-3 py-4 max-w-5xl">
    <!-- Header -->
    <div class="mb-4">
      <div class="flex items-center justify-between mb-3">
        <div>
          <h1 class="text-3xl font-bold text-gray-900">Account Settings</h1>
          <p class="text-sm text-gray-600 mt-0.5">
            Manage your profile and subscription
          </p>
        </div>
      </div>
    </div>

    <!-- Tabs -->
    <div class="space-y-4">
      <div class="grid grid-cols-6 h-9 bg-gray-100 rounded-lg p-1">
        <button *ngFor="let tab of tabs" (click)="onTabChange(tab.id)" [class]="'flex items-center justify-center space-x-1 text-sm rounded-md transition-colors ' + 
                   (activeTab === tab.id ? 'bg-white shadow-sm' : 'hover:bg-gray-200')">
          <!-- tab icons -->
          <span [class]="tab.class">{{tab.icon}}</span>

          <!-- tab label -->
          <span class="capitalize">{{ tab.label }}</span>
        </button>
      </div>

      <!-- Profile Tab -->
      <div *ngIf="activeTab === 'profile'" class="space-y-4">
        <app-profile-component></app-profile-component>
      </div>

      <!-- Subscription Tab -->
      <div *ngIf="activeTab === 'plans'" class="space-y-4">
        <app-plan-component></app-plan-component>
      </div>

      <!-- Categories Tab -->
      <div *ngIf="activeTab === 'categories'" class="space-y-4">
        <app-category></app-category>
      </div>

      <!-- Upload History Tab -->
      <div *ngIf="activeTab === 'upload-history'" class="tab-content">
        <app-upload-history></app-upload-history>
      </div>

      <!-- Download History Tab -->
      <div *ngIf="activeTab === 'download-history'" class="tab-content">
        <app-download-history></app-download-history>
      </div>

      <!-- Upload image Tab -->
      <div *ngIf="activeTab === 'upload-image'" class="tab-content">
        <app-upload-image></app-upload-image>
      </div>


    </div>
  </div>
</div>