<div
  class="flex flex-col md:flex-row max-w-6xl  bg-white rounded shadow my-10 gap-2  ml-65"
>
  <!-- Left: Image Section -->
  <div class="w-[540px] h-[540px] ">
    <img
      [src]="hostURL + '/images/thumbnails/thumb_f7d887e2-ab70-454c-81f2-237bae216f8d_1752153176348338200.jpg'"
      alt="Preview"
      class="rounded border border-gray-300 w-[540px] h-[540px] object-cover p-1 shadow"
    />
  </div>

  <!-- Right: Details and Subscription -->
  <div class="w-full md:w-2/5 p-4 border border-gray-300 ">
    <div class="flex items-center ">
      <div>
        <h2 class="text-lg font-semibold border-b border-blue-800  mb-3">A cup of Cappuccino</h2>
        
        <span class="text-sm text-[#786ECA] font-semibold mb-2 mr-5 ">Food </span> 
        <span [class]="'inline-flex px-2 py-1 text-sm mb-2 rounded-full ' + 
                   (license_type === 'free' ? 'bg-green-100 text-green-800' : 'bg-gray-100 text-gray-800')">
                  {{license_type}}
                </span>
      </div>
    </div>
    <p class="text-sm text-gray-700 mb-4">
      For creatives who need unlimited downloads of a variety of assets.
    </p>

    <ul class="list-disc list-inside text-sm text-gray-600 mb-6 space-y-1">
      <li>80+ million of our best images, video and music</li>
      <li>Unlimited royalty-free downloads</li>
      <li>Standard license for creative digital and print use</li>
      <li>Single seat</li>
    </ul>

    <p class="text-xs text-gray-500 mb-4">
      * Fair use policy and cancellation fee apply.
      <a href="#" class="underline">See terms and conditions.</a>
    </p>
    <button
      class="bg-[#6051dc] hover:bg-[#3d2ad0e1] text-white p-2 rounded font-medium mb-4 w-full"
    >
      Download
    </button>

    <!-- show this link when user don't have any subscription -->
    <a class="text-sm text-center text-blue-600 cursor-pointer underline">
      See more pricing plans
    </a>
  </div>
</div>
