<div class="sticky top-0 z-40 transition-all duration-200 border-b bg-[#F9FAFB] border-zinc-200">
  <div class="flex items-center justify-between px-3 h-12">

    <div class="flex-1 px-8 overflow-x-auto flex items-center justify-center gap-6 scrollbar-none">
      <button *ngFor="let category of categories" type="button" class="whitespace-nowrap transition-colors text-sm"
        [ngClass]="{
          'text-zinc-900  text-sm font-medium ': selectedCategory === category.name,
          'text-zinc-400  text-sm hover:text-zinc-900':
            selectedCategory !== category.name
        }" (click)="onCategorySelect(category)">
        {{category.name }}
      </button>
    </div>
  </div>
</div>