<nav class="bg-white">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex items-center justify-between h-16">
      <!-- Left: Logo + Nav -->
      <div class="flex items-center space-x-4">
        <a href="/"><img class="h-8 w-auto" src="logo.png" alt="Logo" /></a>
        <div class="hidden md:flex space-x-4">
          <a href="/"
            class="text-[#6051dc] hover:bg-[#6051dc] hover:text-white px-3 py-2 rounded-md text-sm font-bold">Home</a>
          <a [routerLink]="['/image']" [queryParams]="{ id: 0, name: 'All'}"
            class="text-[#6051dc] hover:bg-[#6051dc] hover:text-white px-3 py-2 rounded-md text-sm font-bold">Images</a>
        </div>
      </div>



      <!-- Right: Login/Register OR Profile -->
      <div class="flex items-center space-x-2 pl-80">
        <ng-container *ngIf="!isLoggedIn">
          <a routerLink="/login"
            class="text-[#6051dc] hover:bg-[#6051dc] hover:text-white px-3 py-2 rounded-md text-sm font-bold ml-20">Login</a>
          <a routerLink="/register"
            class="text-[#6051dc] hover:bg-[#6051dc] hover:text-white px-3 py-2 rounded-md text-sm font-bold">Register</a>
        </ng-container>
        <ng-container *ngIf="isLoggedIn">
          <!-- Profile Dropdown Container -->
          <div #dropdownWrapper class="relative inline-block" (click)="toggleDropdown()">
            <!-- Avatar Button -->
            <img [src]="getAvatarURL()" alt="Profile" [title]="getUserName()"
              class="w-10 h-10 rounded-full object-cover border border-gray-300 cursor-pointer" />

            <!-- Dropdown Menu -->

            <div *ngIf="dropdownOpen"
              class="absolute top-full right-0 -translate-x-0 mt-1 w-55 bg-white rounded-lg shadow-lg border border-gray-200 z-50">
              <div class="px-4 py-3 text-center">
                <p class="text-sm font-bold text-gray-800">
                  {{ getUserName() }}
                </p>
                <p class="text-sm text-gray-500 mt-1">{{ getUserEmail() }}</p>
              </div>
              <div class="border-t border-gray-200">
                <div class="flex justify-around">
                  <div class="flex items-center space-x-1 p-2">
                    <button routerLink="/profile/"
                      class="px-1 py-2 rounded text-sm text-[#6051dc] font-bold inline-flex justify-center hover:bg-gray-200">
                      <span class="material-icons text-[#6051dc]" style="
                      margin:2px;
                          font-size: 18px;
                          line-height: 1;
                          display: inline-flex;
                          align-items: center;
                        ">
                        person </span>Profile
                    </button>
                  </div>
                  <div class="flex items-center space-x-1 p-2">
                    <button (click)="logout()"
                      class="px-1 py-2 rounded text-sm text-[#6051dc] font-bold inline-flex justify-center hover:bg-gray-200">
                      <span class="material-icons text-[#6051dc]" style="
                          margin:2px;
                          font-size: 18px;
                          line-height: 1;
                          display: inline-flex;
                          align-items: center;
                        ">
                        power_settings_new </span>Logout
                    </button>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</nav>