<!-- Main Content -->
<div class="flex-grow">
  <!-- Hero Section -->
  <section class="relative  my-5">
    <img
      [src]="baseURL+'/images/public/banner/banner.jpg'"
      alt="Mountain landscape"
      class="w-full h-145 object-cover"
    />
    <div class="absolute inset-0 flex items-center justify-center bg-black/35">
      <div class="text-center text-white max-w-2xl px-4">
        <h1 class="text-4xl md:text-5xl font-bold mb-4">
          Discover Amazing Stock Photos
        </h1>
        <p class="text-xl mb-8">
          Millions of high-quality royalty-free images for your next project
        </p>
        <a routerLink="/image"  class="bg-white text-[#45469a] font-medium px-8 py-3 rounded-lg hover:bg-gray-100" >
          Browse Images
        </a>
      </div>
    </div>
  </section>

  <!-- Content Sections -->

  <!-- Categories -->
  <section class="container mx-auto my-10 px-8 md:px-25 mb-16">
    <h2 class="text-3xl mb-6 text-center">Popular Categories</h2>
    <div   class="grid grid-cols-2 md:grid-cols-6 gap-4 my-10">
      <div *ngFor='let cat of categories' class="relative rounded-xl overflow-hidden h-40">
        <a [routerLink]="['/image']" [queryParams]="{ id: cat.id, name: cat.name}">
          <img
         [src]="cat.thumbnail_url"
          [alt]="cat.name"
          class="w-full h-full object-cover"
        />
        <div
          class="absolute inset-0 bg-black/20 flex items-center justify-center hover:bg-black/50"
        >
          <span class="text-white font-bold text-xl">{{cat.name}}</span>
        </div>
      </a>
      </div>
    
    </div>
  </section>

  <app-plan-cards></app-plan-cards>

  <!-- Trending -->
  <!-- <section class="container mx-auto px-4 mb-16">
    <h2 class="text-3xl mb-6">Trending Images</h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      <div class="bg-white rounded-lg shadow overflow-hidden">
        <img
          src="https://images.unsplash.com/photo-1461696114087-397271a7aedc?q=80&w=1770"
          alt="Mountain landscape"
          class="w-full h-48 object-cover"
        />
        <div class="p-4">
          <h3 class="font-medium mb-1">Mountain landscape</h3>
          <p class="text-gray-600 text-sm">John Doe</p>
          <div class="flex items-center mt-2">
            <svg
              class="w-4 h-4 text-red-500 mr-1"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
              ></path>
            </svg>
            <span class="text-sm">542</span>
          </div>
        </div>
      </div>
      <-- Repeat for other trending images -->
    <!-- </div>
  </section>  --> 

  <!-- CTA -->
  <!-- <section class="bg-stock-blue text-white py-16">
    <div class="container mx-auto px-4 text-center">
      <h2 class="text-3xl font-bold mb-4">Ready to get started?</h2>
      <p class="text-xl mb-8 max-w-2xl mx-auto">
        Join thousands of creators and businesses who use StockImage for
        high-quality images.
      </p>
      <a
        href="signup.html"
        class="bg-white text-stock-blue font-medium px-8 py-3 rounded-lg hover:bg-gray-100"
      >
        Sign up for free
      </a>
    </div>
  </section> -->
</div>
